** Nandini Nikam S2-38**

# Importing

In [23]:
import sqlite3

# Connecting to Database

In [24]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

# Create Table

In [25]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

# CRUD Operations


# Create (Insertion)

In [26]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age)
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

# Read (Retrieve)

In [29]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)
(3, 'Griffith', 20)

# Update

In [31]:

def update_student_age(student_id, new_age):
    # Re-establish the connection since it was closed earlier
    connection = sqlite3.connect('./genericDatabase.db')
    cursor = connection.cursor()

    cursor.execute('''UPDATE students SET age = ? WHERE id = ?''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!" if cursor.rowcount else "No student found with this ID.")

update_student_age(1, 21)
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 21)
(2, 'Guts', 22)
(3, 'Griffith', 20)

# Delete

In [33]:
def delete_student(student_id):
    cursor.execute ('''DELETE FROM students WHERE id = ? ''', (student_id,)) # Added SQL query with placeholder for student_id
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 21)
(3, 'Griffith', 20)

# Closing the database connection

In [11]:
connection.close ()